html{
	font-size: 62.5%;
}
*{
	text-decoration: none;
	box-sizing: border-box;
}
body{
font-family: "Poppins";
font-style: normal;
font-size: 1.6rem;
letter-spacing: 0%;
}
.header{
	width: 1440px;
	height: 900px;
	opacity: 1;
	background-color: #fffcf4;
}
.header.header_top{
	position: sticky;
	width: 1170px;
height: 50px;
top: 36px;
left: 135px;
opacity: 1;
	justify-content: space-between;
	display: flex;
}
.left-header{

	align-items: baseline;
	font-size: 3rem;
	display: inline-flex;
}

.dot{
	color: rgb(255, 185, 0);
}
.left-header .text{
font-family: "Sen";
font-weight: 700;
font-style: Bold;
font-size: 2.4rem;
line-height: 34px;
letter-spacing: 0%;
}
.right-header{
	gap: 90px;
	display: flex;
}
.right-header .text,.right-header .text-1{
align-self: center;
font-family: "Poppins";
font-weight: 400;
font-style: normal;
font-size: 1.6rem;
line-height: 2.8rem;
letter-spacing: 0%;
color: #5F5B53;
}
.right-header .text-1{
	font-weight: 700;
	color: black;
}
.right-header .text_special{
position: relative;
}
.right-header img{
position: absolute;
width: 12px;
height: 2px;
opacity: 1;
border-radius: 1px;

}
.button-head{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 144px;
	height: 50px;
}
.button-head a{
	color: white;
	z-index: 2;
}
.right-header .text:hover{
	color: black;
	text-shadow: 0.8px 0 0 black ;

}
.right-header .button-head:hover{
	opacity: 0.7;
}
.button-head img{
	position: absolute;
width: 144px;
height: 50px;
opacity: 1;
border-radius: 24.5px;

}
.text_special{
	align-content: center;
}
