html {
  font-size: 62.5%;
}
* {

  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0%;
}
.header {
  display: block;
  flex-direction: column;
  height: 9000px;
  opacity: 1;
  background-color: #fffcf4;
}
.header.header_top {
  box-sizing: content-box;
position: sticky;
top: 0px;
  z-index: 10;
  padding: 36px 0 8px 0px;
  width: 1389px;
  height: 50px;
  left: 135px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.left-header {
  align-items: baseline;
  font-size: 3rem;
  display: inline-flex;
}

.dot {
  color: rgb(255, 185, 0);
}
.left-header .text {
  font-family: "Sen";
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 34px;
  letter-spacing: 0%;
}
.right-header {
  gap: 90px;
  display: flex;
}
.right-header .text,
.right-header .text-1 {
  align-self: center;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  color: #5f5b53;
}
.right-header .text-1 {
  font-weight: 700;
  color: black;
}
.right-header .text_special {
  position: relative;
}
.right-header img {
  position: absolute;
  width: 12px;
  height: 2px;
  opacity: 1;
  border-radius: 1px;
}
.button-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 144px;
  height: 50px;
}
.button-head a {
  color: white;
  z-index: 2;
}
.right-header .text:hover {
  color: black;
  text-shadow: 0.8px 0 0 black;
}
.right-header .button-head:hover {
  opacity: 0.7;
}
.button-head img {
  position: absolute;
  width: 144px;
  height: 50px;
  opacity: 1;
  border-radius: 24.5px;
}
.text_special {
  align-content: center;
}
/* ------------------------------------------------------------------
 */
 .bottom{
  display: flex;
 }
 .header{
  display:block;
 }
 .header_bottom{
  margin-left: 130px;

  width: 1389px;
  height: 814px;
  display: flex;
 }

.header_bottom.header_left {
  margin-left: 0px;
  width: 800px;
  height: 685px;
  position: relative;
}
.header_bottom.header_left .big {
  width: 470px;
  height: 685px;
  object-position: -500px;
  border-radius: 20px;
  object-fit: cover;
  display: flex;
}
.header_bottom.header_left .big_box {
  display: flex;
  justify-self: end;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  left: 270px;
  height: 244px;
  position: absolute;
  background-color: white;
  bottom: 40px;
  gap: 20px;
}
.header_bottom.header_left .box1,
.header_bottom.header_left .box2,
.header_bottom.header_left .box3 {
  display: flex;
  position: relative;
  left: 25px;
  gap: 20px;
}

.header_bottom.header_left .img-box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.header_bottom.header_left .img-box img {
  width: 24px;
  height: 24px;
  z-index: 2;
}
.header_bottom.header_left .l1,
.l2,
.l3 {
  position: absolute;
  width: 48px;
  height: 48px;
}
.header_bottom.header_left .img-box.img-box1 {
  background-color: #fff9e8;
}
.header_bottom.header_left .img-box.img-box2 {
  background-color: #fcefff;
}
.header_bottom.header_left .img-box.img-box3 {
  background-color: #ebeaff;
}
.header_bottom.header_right{
  padding-top: 64px;
  
  margin-left: 0px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header_bottom.header_right .top{
  font-family: "Sen";
font-weight: 700;
font-style: Bold;
font-size: 5.8rem;
line-height: 6.8rem;
letter-spacing: -2%;

}
.header_bottom.header_right .text_bottom{
  font-family: "Poppins";
font-weight: 400;
font-size: 1.8rem;
line-height: 3rem;
letter-spacing: 0%;
color: #5F5B53;
}
.header_bottom.header_right .button-left{
  font-family: "Poppins";
font-weight: 600;
font-style: SemiBold;
font-size: 1.8rem;
line-height: 3rem;
letter-spacing: 0%;
text-align: center;
}
.header_bottom.header_right .bottom_down{
 display: flex;
 align-items: center;
}
.header_bottom.header_right .out{
  width: 180px;
height: 64px;
border-radius: 32px;
background-color: #FFB900;
}
.header_bottom.header_right .out2{
  width: 40px;
height: 40px;
opacity: 1;
background: gray;
border-radius: 50%;
}
.header_bottom.header_right .bottom_down h3{
  font-family: "Poppins";
font-weight: 600;
font-style: "SemiBold";
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
}
.header_bottom.header_right .button-left{

  display: flex;

  justify-content: center;

}
.header_bottom.header_right .button-left .text123{
  position: absolute;
font-family: "Poppins";
font-weight: 600;
font-style: "SemiBold";
font-size: 18px;
color: white;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

  align-self: center;
}
.header_bottom.header_right .button-right{
  margin-left: 20px;
  position: relative;
  display: flex;
align-content: center;
justify-content: center;
}
.header_bottom.header_right .button-right .out3{
  position: absolute;
  align-self: center;
  justify-self: center;
}
.header_bottom.header_right .bottom_down h3{
  margin-left: 20px;
  font-family: "Poppins";
font-weight: 600;
font-style: "SemiBold";
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

}
.header_bottom.header_right .bottom{
  font-family: "Poppins";
font-weight: 400;
font-style: "Regular";
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

  display: flex;
  gap: 10px;
}
.header_bottom.header_right .bottom_down2{
  color: #5F5B53;
}
.header_bottom.header_right .bottom .number1,.number2{
  font-family: "Sen";
font-weight: 700;
font-style: Bold;
font-size: 44px;
line-height: 54px;
letter-spacing: 0%;
}
.bottom p{
  font-family: "Poppins";
font-weight: 400;
color: #5F5B53;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

}