html{
	font-size: 62.5%;
}
*{
	text-decoration: none;
	box-sizing: border-box;
}
body{
font-family: "Poppins";
font-style: normal;
font-size: 1.6rem;
letter-spacing: 0%;
}
.header{
	width: 1440px;
	height: 900px;
	opacity: 1;
	background-color: #fffcf4;
}
.header.header_top{
	justify-content: space-between;
	display: flex;
}
.left-header{
	margin-left: 136px;
	align-items: baseline;
	font-size: 3rem;
	display: inline-flex;
}

.dot{
	color: rgb(255, 185, 0);
}
.left-header .text{
font-family: "Sen";
font-weight: 700;
font-style: Bold;
font-size: 2.4rem;
line-height: 34px;
letter-spacing: 0%;
}
.right-header{
	gap: 90px;
	display: flex;
}
.right-header .text{
	font-family: "Poppins";
font-weight: 400;
font-style: normal;
font-size: 1.6rem;
line-height: 2.8rem;
letter-spacing: 0%;
text-align: center;
}
.button-head{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 144px;
	height: 50px;
}
.button-head a{
	color: white;
	z-index: 2;
}
.button-head img{
	position: absolute;
}
